.AnimationListComponent {
    border-bottom: 2px solid rgba(0, 0, 0, 0.356);
    display: flex;
}

.AnimationListComponent .playAnimation {
    border: 2px solid rgba(255, 255, 255, 0.534);
    border-radius: 100px;
    min-width: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AnimationListComponent .animationName {
    margin-left: 5px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
}

.AnimationListComponent .playAnimation:hover,
.AnimationListComponent .animationName:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
}

.AnimationListComponent .playAnimation:active,
.AnimationListComponent .animationName:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.AnimationListComponent .animationName,
.AnimationListComponent .playAnimation {
    color: rgb(156, 156, 156);
    background-color: rgba(248, 248, 248, 0);
}

.AnimationListComponent .animationName.toggled {
    border: 2px solid rgba(255, 255, 255, 0.712);
    color: rgb(255, 255, 255);
}

.AnimationListComponent .animationName {
    padding-left: 5px;
}
