.ImportView {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.importDataField {
    outline: none;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.144);
    color: white;
    resize: none;
    width: 100%;
    height: 100%;
}

.ImportView .buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ImportView .button {
    font-size: 0.8rem;
}

.importPhotoInput {
    display: none;
}
